name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"

env:
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  FORCE_COLOR: "3"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    name: Test / ${{ matrix.platform }} / Nightly ${{ matrix.nightly[0] }} / Python ${{ matrix.python-version }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-13, macos-latest, windows-latest]
        python-version:
          ["3.8", "3.9", "3.10", "3.11", "3.12", "pypy-3.9", "pypy-3.10"]
        nightly: [[True, "nightly-"], [False, ""]]
    steps:
      - uses: actions/checkout@v4.1.7
      - uses: actions/setup-python@v5.1.1
        with:
          python-version: ${{ matrix.python-version }}
      - uses: yezz123/setup-uv@v4

      - name: Run CPython tests
        if: ${{ !startsWith(matrix.python-version, 'pypy') }}
        run: uvx nox -s tests

      - name: Run PyPy tests
        if: ${{ startsWith(matrix.python-version, 'pypy') }}
        run: uvx nox -s ${{ matrix.nightly[1] }}tests
