name: Tests

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

env:
  PIP_DISABLE_PIP_VERSION_CHECK: '1'
  PY_COLORS: '1'

jobs:
  test:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - '3.7'
        - '3.8'
        - '3.9'
        - '3.10'
        - '3.11'
        - pypy-3.7
        - pypy-3.8
        - pypy-3.9
        extras:
        - none
        - scipy
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install build tools
      run: python -m pip install tox-gh-actions wheel
    - name: Install optional dependencies (extras) on Linux/macOS
      if: ${{ matrix.extras != 'none' && matrix.platform != 'windows-latest' }}
      run: conda install -c anaconda ${{ matrix.extras }}
    - name: Install optional dependencies (extras) on Windows
      if: ${{ matrix.extras != 'none' && matrix.platform == 'windows-latest' }}
      run: . ${env:CONDA}\scripts\conda.exe install -c anaconda ${{ matrix.extras }}
    - name: Run tests
      run: tox
