name: Tests

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

env:
  PIP_DISABLE_PIP_VERSION_CHECK: '1'
  PY_COLORS: '1'

jobs:
  test:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform:
        - ubuntu-latest
        - macos-latest
        - windows-latest
        python-version:
        - '3.7'
        - '3.8'
        - '3.9'
        - '3.10'
        - '3.11'
        - pypy-3.7
        - pypy-3.8
        - pypy-3.9
        - pypy-3.10
        exclude:
        - { platform: windows-latest, python-version: pypy-3.7 }
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python build tools
      run: python -m pip install tox wheel
    - name: Run tests
      run: tox run -e py
    - name: Install Scipy prerequisites for Ubuntu
      if: startsWith(matrix.platform, 'ubuntu')
      run: sudo apt-get install libopenblas-dev
    - name: Run tests with scipy
      if: startsWith(matrix.platform, 'ubuntu') || startsWith(matrix.python-version, 'pypy') != true
      run: tox run -e py-scipy
